.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--nlportal-menu-background-color, white);
  padding-block-start: var(--nl-portal-space-block-2xl, 32px);
  padding-inline-start: var(--nlportal-space-inline-2xl, 32px);
  padding-inline-end: var(--nlportal-space-inline-2xl, 32px);
}
