@import '../../styles/mixins';

.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--nlportal-menu-background-color, white);
  padding-block-start: var(--nl-portal-space-block-2xl, 2rem);
  padding-inline-start: var(--nlportal-space-inline-2xl, 2rem);
  padding-inline-end: var(--nlportal-space-inline-2xl, 2rem);

  @include breakpoint(tablet) {
    position: relative;
    width: auto;
    height: auto;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.menu--hidden {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }
}

.menu__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block-end: var(--nlportal-space-block-2xl, 2rem);

  @include breakpoint(tablet) {
    display: none;
  }
}

.menu__items {
  display: inline-flex;
  flex-direction: column;
}
