@import '../../styles/mixins';

.header-container {
  display: flex;
  flex-direction: column;
  z-index: var(--nlportal-z-index-header, 100);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  @include breakpoint(tablet) {
    position: fixed;
  }
}

.header-container--fixed {
  position: fixed;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--nlportal-header-background-color, hsl(0 0% 100%));
}

.header-wrapper--fullscreen {
  border-bottom: var(--nlportal-header-border-width, 1px) var(--nlportal-header-border-style, solid) var(--nlportal-header-border-color, hsl(0 0% 95%));
}

.header {
  display: flex;
  justify-content: center;
  width: auto;
  height: var(--nlportal-header-height, 72px);
  margin-inline-start: var(--nlportal-space-inline-xl, 1.5rem);
  margin-inline-end: var(--nlportal-space-inline-xl, 1.5rem);

  @include breakpoint(tablet) {
    height: var(--nlportal-header-height-large, 85px);
  }
}

.header--fullscreen {
  @include breakpoint(tablet) {
    height: var(--nlportal-header-height-fullscreen-tablet, 128px);
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--nlportal-max-page-width, 1024px);
  padding-block-start: var(--nlportal-space-block-xs, 0.5rem);
  padding-block-end: var(--nlportal-space-block-xs, 0.5rem);
}

.header__logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--nlportal-header-max-logo-width, 150px);
}

.header__logo-container--fullscreen {
  max-width: var(--nlportal-header-max-logo-width-fullscreen, 186px);
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__logo-link {
  &:focus {
    outline: var(--nlportal-focus-border, 2px solid hsl(47 100% 40%));
  }
}

.header__elements-desktop {
  display: none;
  align-items: center;
  height: 100%;

  @include breakpoint(tablet) {
    display: flex;
  }
}

.header__elements-mobile {
  @include breakpoint(tablet) {
    display: none;
  }
}

.header__element--large-spacing {
  margin-inline-end: var(--nlportal-space-inline-2xl, 2rem);
}

.header__element--medium-spacing {
  margin-inline-end: var(--nlportal-space-inline-lg, 1.5rem);
}

.header__facet-container {
  width: 100%;
  height: var(--nlportal-header-facet-height, 14px);
}

.header__facet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__mobile-menu {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    display: none;
  }
}

.header__mobile-menu--hidden {
  display: none;
}

.header-bar {
  width: 100%;
  height: var(--nlportal-header-bar-height, 14px);
  background-color: var(--nlportal-header-bar-background-color, hsl(207 80% 35%));

  @include breakpoint(tablet) {
    height: var(--nlportal-header-bar-height-tablet, 54px);
  }
}
