@import '../../styles/mixins';

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
}

.header {
  display: flex;
  justify-content: center;
  width: auto;
  height: var(--nlportal-header-height, 85px);
  margin-inline-start: var(--nlportal-space--md, 16px);
  margin-inline-end: var(--nlportal-space--md, 16px);

  @include breakpoint(mobile) {
    height: var(--nlportal-header-height--mobile, 72px);
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--nlportal-max-page-width, 1024px);
  padding-block-start: var(--nlportal-space--xs, 8px);
  padding-block-end: var(--nlportal-space--xs, 8px);
}

.header__logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--nlportal-header-max-logo-width);
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__elements-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__element--large-spacing {
  margin-right: var(--nlportal-space--3xl, 40px);
}

.header__element--medium-spacing {
  margin-right: var(--nlportal-space--xl, 24px);
}

.header__facet-container {
  width: 100%;
  height: var(--nlportal-header-facet-height, 14px);
}

.header__facet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
