:root {
    --nl-portal-space-block-2xl: var(--denhaag-space-block-2xl);
    --nlportal-space-block-xs: var(--denhaag-space-block-xs);
    --nlportal-space-inline-2xl: var(--denhaag-space-inline-2xl);
    --nlportal-space-inline-lg: var( --denhaag-space-inline-lg);
    --nlportal-space-inline-md: var(--denhaag-space-inline-md);
    --nlportal-max-page-width: 1024px;
    --nlportal-header-height: 72px;
    --nlportal-header-height-large: 85px;
    --nlportal-header-max-logo-width: 150px;
    --nlportal-header-facet-height: 14px;
    --nlportal-menu-background-color: var(--denhaag-color-white);
    --utrecht-heading-color: var(--denhaag-color-blue-3);
}
