:root {
  --nlportal-space-block-5xl: var(--denhaag-space-block-5xl);
  --nlportal-space-block-3xl: var(--denhaag-space-block-3xl);
  --nlportal-space-block-2xl: var(--denhaag-space-block-2xl);
  --nlportal-space-block-xl: var(--denhaag-space-block-xl);
  --nlportal-space-block-md: var(--denhaag-space-block-md);
  --nlportal-space-block-xs: var(--denhaag-space-block-xs);
  --nlportal-space-inline-4xl: var(--denhaag-space-inline-4xl);
  --nlportal-space-inline-2xl: var(--denhaag-space-inline-2xl);
  --nlportal-space-inline-xl: var(--denhaag-space-inline-xl);
  --nlportal-space-inline-lg: var(--denhaag-space-inline-lg);
  --nlportal-space-inline-md: var(--denhaag-space-inline-md);
  --nlportal-space-inline-xs: var(--denhaag-space-inline-xs);
  --nlportal-z-index-header: 100;
  --nlportal-z-index-menu: 200;
  --nlportal-max-page-width: 1024px;
  --nlportal-header-height: 72px;
  --nlportal-header-height-large: 85px;
  --nlportal-header-max-logo-width: 150px;
  --nlportal-header-facet-height: 14px;
  --nlportal-header-background-color: var(--denhaag-color-white);
  --nlportal-desktop-menu-width: 230px;
  --nlportal-menu-item-height: 3rem;
  --nlportal-menu-background-color: var(--denhaag-color-white);
  --nlportal-menu-button-active-color: var(--denhaag-menu-button-active-color);
  --nlportal-menu-button-font-size: var(--denhaag-menu-button-font-size);
  --nlportal-base-font-size: var(--denhaag-typography-scale-base-font-size);
  --nlportal-heading-5-color: var(--denhaag-color-blue-3);
  --nlportal-current-page-indicator-background-color: var(--denhaag-color-blue-1);
  --nlportal-current-page-indicator-height: 56px;
  --nlportal-footer-background-color: var(--denhaag-color-blue-4);
  --nlportal-footer-header-color: var(--denhaag-color-blue-1);
  --nlportal-footer-link-color: var(--denhaag-color-grey-1);
  --nlportal-footer-link-icon-size: 1rem;
  --nlportal-footer-column-space-inline: 100px;
  --nlportal-footer-column-space-inline-large: 250px;
  --nlportal-focus-border: var(--denhaag-focus-border);
  --nlportal-border-radius: var(--denhaag-border-radius);
  --nlportal-mobile-menu-element-height: 43px;
  --nlportal-mobile-menu-background-color: var(--denhaag-color-grey-1);
  --nlportal-mobile-menu-font-color: var(--denhaag-color-green-3);
  --nlportal-mobile-menu-font-weight: var(--denhaag-menu-button-active-font-weight);
  --nlportal-meta-icon-line-height: 1.5rem;
  --nlportal-meta-icon-font-weight-bold: 700;
  --nlportal-meta-icon-size: 2rem;
  --nlportal-meta-icon-color: var(--denhaag-color-blue-3);
  --nlportal-meta-icon-border-color: var(--denhaag-color-grey-2);
  --nlportal-status-history-border-color: var(--denhaag-color-grey-2);
  --nlportal-status-history-border-radius: 2px;
  --nlportal-status-history-facet-height: 8px;
  --nlportal-skeleton-step-padding: var(--denhaag-timeline-step-padding);
  --nlportal-skeleton-step-circle-padding: var(--denhaag-timeline-step-icon-padding);
  --utrecht-heading-color: var(--denhaag-color-blue-3);
  --denhaag-menu-button-font-size: var(--denhaag-typography-scale-lg-font-size);
  --denhaag-menu-button-line-height: var(--denhaag-typography-scale-xl-font-size);
}
