@import '../../styles/mixins';

.case {
  display: flex;
  flex-direction: column;
}

.case__header {
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(tablet) {
    margin-block-end: var(--nlportal-space-block-2xl, 2rem);
  }
}

.case__meta-icons {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(mobile) {
    flex-flow: row wrap;
  }
}

.case__sub-header {
  margin-block-end: var(--nlportal-space-block-md, 1rem) !important;
}

.case__status {
  margin-block-end: var(--nlportal-space-block-5xl, 4rem) !important;
}

.case__documents-header {
  display: flex;
  flex-direction: column;
}

.case__documents-header--tablet {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--nlportal-space-block-md, 1rem);
}

.case__documents-link {
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);
}

.case__documents-link--tablet {
  margin-block-end: 0;
}
