@import '../../styles/mixins';

.case {
  display: flex;
  flex-direction: column;
}

.case__header {
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(tablet) {
    margin-block-end: var(--nlportal-space-block-2xl, 2rem);
  }
}

.case__meta-icons {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(mobile) {
    flex-flow: row wrap;
  }
}
