@import '../../styles/mixins';

.current-page-indicator {
  position: absolute;
  left: 0;
  top: calc(var(--nlportal-header-height, 72px));
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--nl-portal-current-page-indicator-background-color, hsl(207 80% 35%));
  padding-inline-start: var(--nlportal-space-inline-xl, 1.5rem);
  padding-inline-end: var(--nlportal-space-inline-xl, 1.5rem);
  padding-block-start: var(--nlportal-space-block-md, 1rem);
  padding-block-end: var(--nlportal-space-block-md, 1rem);
  height: var(--nl-portal-current-page-indicator-height, 56px);
  z-index: var(--nlportal-z-index-header, 100);

  @include breakpoint(tablet) {
    display: none;
  }
}

.current-page-indicator--has-facet {
  top: calc(var(--nlportal-header-height, 72px) + var(--nlportal-header-facet-height, 14px));
}

.current-page-indicator--header-fixed {
  position: fixed;
}

.current-page-indicator--header-hidden {
  top: 0;
}

.current-page-indicator__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-page-indicator__icon {
  display: flex;
  margin-inline-end: var(--nlportal-space-inline-xs, 0.5rem);
  color: var(--nl-portal-heading-5-color, hsl(207 80% 35%));
}

.current-page-indicator__chevron-down {
  position: absolute;
  right: var(--nlportal-space-inline-xl, 1.5rem);
  color: var(--nl-portal-heading-5-color, hsl(207 80% 35%));
}
