.menu-item {
  a {
    display: flex;
    align-items: center;

    &:after {
      display: none;
    }
  }
}

.menu-item__icon {
  display: flex;
  margin-inline-end: var(--nlportal-space-inline-md, 1rem);
}
