@import '../../styles/mixins';

.denhaag-menu-button--flex {
  display: flex !important;
  align-items: center;
  padding-block-start: var(--nlportal-space-block-xs, 0.5rem) !important;
  padding-block-end: var(--nlportal-space-block-xs, 0.5rem) !important;
  margin-block-end: var(--nlportal-space-block-xs, 0.5rem);

  @include breakpoint(tablet) {
    --denhaag-menu-button-font-size: var(--nl-portal-base-font-size, 1rem);
  }

  &:after {
    display: none !important;
  }
}

.denhaag-menu-button__icon {
  display: flex;
  margin-inline-end: var(--nlportal-space-inline-md, 1rem);
}
