@import '../../styles/mixins';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--nl-portal-footer-background-color, hsl(207 87% 27%));
  --utrecht-heading-color: var(--nl-portal-footer-header-color, hsl(208 76% 92%));
}

.footer__inner {
  width: 100%;
  max-width: var(--nlportal-max-page-width, 1024px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-block-start: var(--nlportal-space-block-2xl, 2rem);
  padding-block-end: var(--nlportal-space-block-5xl, 4rem);
  margin-inline-start: var(--nlportal-space-inline-xl, 1.5rem);
  margin-inline-end: var(--nlportal-space-inline-xl, 1.5rem);

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--nlportal-space-block-2xl, 2rem);
}

.footer__column--spaced {
  @include breakpoint(tablet) {
    margin-inline-start: var(--nl-portal-footer-column-space-inline, 100px);
  }

  @include breakpoint(desktop) {
    margin-inline-start: var(--nl-portal-footer-column-space-inline-large, 250px);
  }
}

.footer__link {
  color: var(--nl-portal-footer-link-color, hsl(0 0% 95%));
  margin-block-start: var(--nlportal-space-block-xs, 0.5rem);
  display: flex;
  align-items: center;

  svg {
    font-size: var(--nl-portal-footer-link-icon-size, 1rem);
    margin-inline-start: var(--nlportal-space-inline-xs, 0.5rem);
  }
}
