@import '../../styles/mixins';

.current-page {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint(tablet) {
    display: none;
  }
}

.current-page__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-page__icon {
  margin-inline-end: var(--nlportal-space-inline-xs, 0.5rem);
}
