.forms {
  display: flex;
  flex-direction: column;
}

.forms__header {
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(tablet) {
    margin-block-end: var(--nlportal-space-block-2xl, 2rem);
  }
}
