name: Build container en push to acr

on:
  push:
    branches:
      - feature/add-github-workflow
      # - master
  pull_request:
    branches:
      - feature/add-github-workflow
      # - master

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/nl-portal:${{ github.sha }}
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/nl-portal:${{ github.sha }}